<body>
    
    <div id="aboutUs">
        
        <div class="aboutDev">

            <div class="aboutText">
           <h3 class="devName"> Creative Director </h3>
           <p class="devDesc"> Hey! My name is Angela and I am one of the co-creators of Stick-It. My motivation for creating Stick-It mainly derived  from my personal business of running an art account on Instagram. Having to plan out ideas and due dates can be very  overwhelming, especially when you have so many! Luckily my team and I were able to create an easy and efficient way toorganize your thoughts into a simple post-it note. If you're curious about my artwork and the main inspiration behind the creation of this website, be sure to check out @daydream_104 on Instagram.</p>
           
           </div>
            
            <div class="img">
                <img class="devImage" src="images/default.jpg" alt="" srcset="">
            </div>


            
        </div>

        <div class="aboutDev">

            <div class="aboutText">
            <h3 class="devName">Software Developper</h3>
           <p class="devDesc">I'm Sarim, one of the creators of Stick-It. Creating something that I could use was one of the things I've always wanted to do, and thanks to my teammates I finally got the chance to create Stick-It, something I'm very proud to be a part of. This app is useful to me as a student as it's made to take notes and keep track of daily tasks, something that will definitely help me and others. With every feature we added, we came up with 10 more ideas to potentially add. Anyways, follow me on Instagram if you like pages that only upload once a year @Sarimopolis.</p>
        
           
           </div>
            
            <div class="img">
                <img class="devImage" src="images/default.jpg">
            </div>


           
        </div>

        <div class="aboutDev">

        <div class="aboutText">
          <h3 class="devName"> Coffee Maker</h3>
           <p class="devDesc"> Hi! My name is Emmanuelle. I struggle to stay organize so much that I am writing last minute hence why I needed a tool to help get my life together. I meet two geniuses 
               that told me about a vision. We're trying to stay organize in style. Join us. Follow me on... wait I'm running out of time I need to submit this.
           </p>
        
           
           </div>
            
            <div class="img">
                <img class="devImage" src="images/default.jpg" alt="" srcset="">
            </div>


           
        </div>
    </div>

</body>